<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class=navbar-nav>
    <li>
      <a routerLink="home" routerLinkActive="active" class="nav-link text-white">Home</a>
    </li>
    <li>
      <a routerLink="create_tourist"  routerLinkActive="active" class="nav-link text-white">RegisterTourist</a>
    </li>
    <li class="nav-item">
      <a routerLink="tourist" routerLinkActive="active" class="nav-link text-white">Tourist</a>
    </li>
  </ul>
</nav>
<div>
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>


